*{
  font-family: Arial, Helvetica, sans-serif;
}

/*
=====================
Products
=====================
*/
.products{
  display: flex;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.inner-wrapper {
  width: 75%;
}

.title {
  text-align: right;
  display: flex;
  justify-content: space-between;
  border: 1px solid blue;
  margin: 0 10px 0 10px;
  font-size: 32px;
  font-family: serif;
  font-weight: 300;
  line-height: 36px;

}

.title-text {
  display: flex;
  justify-content: flex-start;
}

.shop-more {
  font-size: 13px;
  font-weight: 700px;
  display: flex;
  justify-content: flex-end;
}

/*
=====================
Card
=====================
*/
.card {
  max-height: 278px;
  max-width: 260px;
  margin: 1px;
  text-align: center;
  font-family: arial;
  font-weight: 13px;
  border-radius: 0px;
  transition: all .25s;
  box-shadow: none;
}

.card:hover {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*
=====================
Content
=====================
*/
.content {
  text-align: left;
  margin: 0px 9px;
}

p {
  margin:2px;
}

.seller-name {
  color:#595959;
}

.price {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  word-spacing: 0px;
}

.shipping {
  color: #595959;
}

img{
  width:92%;
  margin-top: 10px;
  border-radius: 1px;
}

