#youmayalsolike *{
  font-family: Arial, Helvetica, sans-serif;
}

/*
=====================
Products
=====================
*/
#youmayalsolike .products{
  display: flex;
  justify-content: space-between;
}

#youmayalsolike .wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

#youmayalsolike .inner-wrapper {
  width: 75%;
}

#youmayalsolike .title {
  text-align: right;
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0 10px;
  font-size: 32px;
  font-family: serif;
  font-weight: 300;
  line-height: 36px;
}

#youmayalsolike .arrow {
  font-size: 13px;
  margin: 8% 0 0;
  margin-left: 15px;
  transition-duration: 250ms;
  transition-property: all;
}

#youmayalsolike .arrow:hover {
  margin-right: -5px;
}

#youmayalsolike .title-text {
  display: flex;
  justify-content: flex-start;
}

#youmayalsolike .shop-more {
  font-size: 13px;
  font-weight: 700px;
  display: flex;
  justify-content: flex-end;
}

/*
=====================
Card
=====================
*/
#youmayalsolike .card {
  max-height: 278px;
  max-width: 260px;
  margin: 1px;
  text-align: center;
  font-family: arial;
  font-weight: 13px;
  border-radius: 0px;
  transition: all .25s;
  box-shadow: none;
}

#youmayalsolike .card:hover {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*
=====================
Content
=====================
*/
#youmayalsolike .content {
  text-align: left;
  margin: 0px 9px;
}

#youmayalsolike p {
  margin:2px;
}

#youmayalsolike .seller-name {
  color:#595959;
}

#youmayalsolike .price {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  word-spacing: 0px;
}

#youmayalsolike .shipping {
  color: #595959;
}

#youmayalsolike img{
  width:92%;
  margin-top: 10px;
  border-radius: 1px;
}

